button:hover {
    cursor: pointer;
}

h1 {
    color: blueviolet;
}

.modo_sexo {
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background-color: black;
}

#btn_si {
    background-color: aqua;
    border-color: purple;
    color: azure;
    font-size: xx-large;
    padding: 14px;
    text-align: center;
    border-radius: 2px;
}